<div class="container">
	<h2>Stimuls</h2>
	<h3><p>Select zip file with complete Stimul and add to Stimul collection</p></h3>
	<br/>

	<form name="upload" class="form" data-ng-submit="stimuls.registerStimul()">

		<div>
			<input id="stimul-file-upload" type="file" name="file"
				   onchange="angular.element(this).scope().uploadedFile(this)" />
		</div>
		<div style="margin-top: 1.5rem;">
			<td>Stimul name:</td>
			<td><input ng-model="stimuls.stimulName" type="text" name="stimulName"/></td>

			<button type="submit">Upload </button>
		</div>
	</form>

</div>