<div class="container">
    <h2>Stimul {{stimulDetails.stimul.name}} details</h2>
    <h3><p>Download, delete stimul, or get attachments one by one</p></h3>
    <br/>

    <button ng-click="stimulDetails.downloadStimul()">Download stimul</button>

    <button ng-if="mainPage.userInfo.admin" ng-click="stimulDetails.deleteStimul()">Delete stimul</button>

	<div class="col-sm-12">
        <br/>
        <h3><p>List of all attachment:</p></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
			<tr ng-repeat="attachment in stimulDetails.stimul.attachments | orderBy:'id'">
                <td>{{attachment.name}}</td>
				<td>
                    <span style="cursor: pointer;" class="glyphicon glyphicon-download-alt"
                          ng-click="stimulDetails.getAttachment(attachment)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>