<div class="container">
        <h1>List of all Stimuls</h1>

        <hr />

        <p>Search stimul by name: </p>
        <input ng-model="stimulsList.searchPhrase" type="text" name="stimulName"/>
        <button ng-click="stimulsList.searchByName()">Search</button>
        <button ng-click="stimulsList.reset()">Reset</button>

        <hr />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created at</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stimul in stimulsList.items">
                <td>{{stimul.name}}</td>
                <td>{{stimul.created}}</td>
                <td><a href="#stimuls/{{stimul.id}}" ng-click="stimulDetails(stimul)">Details</a></td>
                <td><a href="#stimuls/{{stimul.id}}/results" ng-click="stimulDetails(stimul)">Results</a></td>
            </tr>
            </tbody>
        </table>

        <ul ng-if="stimulsList.pager.pages.length" class="pagination">
            <li ng-class="{disabled:stimulsList.pager.currentPage === 1}">
                <a ng-click="stimulsList.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:stimulsList.pager.currentPage === 1}">
                <a ng-click="stimulsList.setPage(stimulsList.pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in stimulsList.pager.pages" ng-class="{active:stimulsList.pager.currentPage === page}">
                <a ng-click="stimulsList.setPage(page)">{{page}}</a>
            </li>
            <li ng-class="{disabled:stimulsList.pager.currentPage === stimulsList.pager.totalPages}">
                <a ng-click="stimulsList.setPage(stimulsList.pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:stimulsList.pager.currentPage === stimulsList.pager.totalPages}">
                <a ng-click="stimulsList.setPage(stimulsList.pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>
